// $primary-text-color: #E9F1F7;
// $primary-background-color: #E9F1F7;
// $secondary-text-color: #131B23;
// $hightlighted-text-color: #E7DFC6;

$white: #E9F1F7;
$dark-blue: #131B23;
$yellow: #E7DFC6;
$brown: #816C61;
$light-blue: #2274A5;