@use './variables' as *;


.card-container {
    max-height: 400px;
    background-color: tan;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
}

.card {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    margin-bottom: 2rem;
}

.card-img {
    max-height: 80%;
}