@use './variables' as *;

.footer {
    height: 500px;
    background-color: #816C61;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
}

.box {
    border: 1px dotted red;
}

.form-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5em;
}

// .form-cta-title-container {}

.form-cta-title-top {
    font-weight: 600;
    font-size: 1.3em;
}

.form-cta-title-bottom {
    text-align: right;
    padding-top: 0.5em;
    margin-bottom: 0.5rem;
}

.divider {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #816C61, $primary-text-color, #816C61);
    margin: 1rem 0;
    width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-left: 0.5em;
    padding: 0.5rem;
    background-color: $primary-text-color;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
}

label {
    display: flex;
    align-items: center;
    justify-content: left;

}

button {
    background-color: #2274A5;
    color: $primary-text-color;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 6px #b2aea3;
}

button:active {
    transform: translateY(0.5px);
    box-shadow: 0 1.5px 3px #ede2c3;
}

@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
}