@use './variables' as *;

.centered {
    text-align: center;
}

.home-about-full-image {
    background: $white;
    // position: relative;
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
        max-width: 90vw;
        height: auto;
        border-radius: 2%;
    }
}

.home-form-button {
    box-shadow: 0 3px 6px #5f594a;
    width: 50%;
    align-self: center;
}

.home-main-about-text-title {
    font-size: 16pt;
    font-weight: 700;
    background-color: $white;
    padding: 0.5em 1em;

    border-radius: 10px;
}

.home-main-about-text-container {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    border-radius: 3%;
}