.nav-container {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3D7135;
    position: fixed;
    width: 100%;

    animation: slideDown .4s ease-out forwards;
}

@keyframes slideDown {
    from {
        top: -60px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}